In [9]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rulesociation_rules

In [10]:
dataset = [['Shoes', 'Socks', 'Tie', 'Belt'],
           ['Shoes', 'Socks', 'Tie', 'Belt', 'Shirt', 'Hat'],
           ['Shoes', 'Tie'],
           ['Shoes', 'Socks', 'Belt']
          ]
dataset

[['Shoes', 'Socks', 'Tie', 'Belt'],
 ['Shoes', 'Socks', 'Tie', 'Belt', 'Shirt', 'Hat'],
 ['Shoes', 'Tie'],
 ['Shoes', 'Socks', 'Belt']]

In [11]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)

In [12]:
df = pd.DataFrame(te_ary, columns=te.columns_)

In [13]:
df

    Belt    Hat  Shirt  Shoes  Socks    Tie
0   True  False  False   True   True   True
1   True   True   True   True   True   True
2  False  False  False   True  False   True
3   True  False  False   True   True  False

In [14]:
def encode(x):
    if x==False:
        return 0
    if x==True:
        return 1

basket_set = df.applymap(encode)

In [15]:
basket_set

   Belt  Hat  Shirt  Shoes  Socks  Tie
0     1    0      0      1      1    1
1     1    1      1      1      1    1
2     0    0      0      1      0    1
3     1    0      0      1      1    0

In [39]:
frequent_items = apriori(basket_set,min_support=0.5,use_colnames=True)

In [40]:
frequent_items

    support                   itemsets
0      0.75                     (Belt)
1      1.00                    (Shoes)
2      0.75                    (Socks)
3      0.75                      (Tie)
4      0.75              (Shoes, Belt)
5      0.75              (Socks, Belt)
6      0.50                (Belt, Tie)
7      0.75             (Shoes, Socks)
8      0.75               (Shoes, Tie)
9      0.50               (Socks, Tie)
10     0.75       (Shoes, Socks, Belt)
11     0.50         (Shoes, Belt, Tie)
12     0.50         (Socks, Belt, Tie)
13     0.50        (Shoes, Socks, Tie)
14     0.50  (Shoes, Socks, Belt, Tie)

In [44]:
rules = association_rules(frequent_items, metric="confidence", min_threshold=0.5)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Shoes),(Belt),1.00,0.75,0.75,0.750000,1.000000,0.0000,1.00
1,(Belt),(Shoes),0.75,1.00,0.75,1.000000,1.000000,0.0000,inf
2,(Socks),(Belt),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
3,(Belt),(Socks),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
4,(Belt),(Tie),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
5,(Tie),(Belt),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
6,(Shoes),(Socks),1.00,0.75,0.75,0.750000,1.000000,0.0000,1.00
7,(Socks),(Shoes),0.75,1.00,0.75,1.000000,1.000000,0.0000,inf
8,(Shoes),(Tie),1.00,0.75,0.75,0.750000,1.000000,0.0000,1.00
9,(Tie),(Shoes),0.75,1.00,0.75,1.000000,1.000000,0.0000,inf
10,(Socks),(Tie),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
11,(Tie),(Socks),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
12,"(Shoes, Socks)",(Belt),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
13,"(Shoes, Belt)",(Socks),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
14,"(Socks, Belt)",(Shoes),0.75,1.00,0.75,1.000000,1.000000,0.0000,inf
15,(Shoes),"(Socks, Belt)",1.00,0.75,0.75,0.750000,1.000000,0.0000,1.00
16,(Socks),"(Shoes, Belt)",0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
17,(Belt),"(Shoes, Socks)",0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
18,"(Shoes, Belt)",(Tie),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
19,"(Shoes, Tie)",(Belt),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
20,"(Belt, Tie)",(Shoes),0.50,1.00,0.50,1.000000,1.000000,0.0000,inf
21,(Shoes),"(Belt, Tie)",1.00,0.50,0.50,0.500000,1.000000,0.0000,1.00
22,(Belt),"(Shoes, Tie)",0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
23,(Tie),"(Shoes, Belt)",0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
24,"(Socks, Belt)",(Tie),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
25,"(Socks, Tie)",(Belt),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
26,"(Belt, Tie)",(Socks),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
27,(Socks),"(Belt, Tie)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
28,(Belt),"(Socks, Tie)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
29,(Tie),"(Socks, Belt)",0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
30,"(Shoes, Socks)",(Tie),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
31,"(Shoes, Tie)",(Socks),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
32,"(Socks, Tie)",(Shoes),0.50,1.00,0.50,1.000000,1.000000,0.0000,inf
33,(Shoes),"(Socks, Tie)",1.00,0.50,0.50,0.500000,1.000000,0.0000,1.00
34,(Socks),"(Shoes, Tie)",0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
35,(Tie),"(Shoes, Socks)",0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
36,"(Shoes, Socks, Belt)",(Tie),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
37,"(Shoes, Socks, Tie)",(Belt),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
38,"(Shoes, Belt, Tie)",(Socks),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
39,"(Socks, Belt, Tie)",(Shoes),0.50,1.00,0.50,1.000000,1.000000,0.0000,inf
40,"(Shoes, Socks)","(Belt, Tie)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
41,"(Shoes, Belt)","(Socks, Tie)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
42,"(Shoes, Tie)","(Socks, Belt)",0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
43,"(Socks, Belt)","(Shoes, Tie)",0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
44,"(Socks, Tie)","(Shoes, Belt)",0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
45,"(Belt, Tie)","(Shoes, Socks)",0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
46,(Shoes),"(Socks, Belt, Tie)",1.00,0.50,0.50,0.500000,1.000000,0.0000,1.00
47,(Socks),"(Shoes, Belt, Tie)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
48,(Belt),"(Shoes, Socks, Tie)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
49,(Tie),"(Shoes, Socks, Belt)",0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75

In [53]:
rules[(rules['antecedents']=={'Socks'}) & (rules['consequents']=={'Tie'})]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
10,(Socks),(Tie),0.75,0.75,0.5,0.666667,0.888889,-0.0625,0.75