In [2]:
from sklearn.datasets import load_iris
import pandas as pd
import matplotlib.pyplot as plt

C:\Users\user\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [12]:
X,y =load_iris(return_X_y=True,as_frame=True)
X

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [13]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int32

In [35]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.33)

In [36]:
clf= GaussianNB()

In [37]:
clf.fit(X_train,y_train)

GaussianNB()

In [38]:
print("training score of data  = ",clf.score(X_train,y_train))

training score of data  =  0.95

In [39]:
y_pred = clf.predict(X_test)

In [40]:
y_pred

array([2, 2, 2, 0, 2, 1, 1, 2, 0, 0, 2, 1, 0, 0, 1, 2, 0, 1, 1, 2, 1, 0,
       0, 2, 1, 2, 2, 2, 0, 2, 2, 0, 2, 0, 0, 1, 0, 0, 2, 1, 2, 1, 1, 0,
       2, 1, 0, 0, 2, 1])

In [41]:
print("predicted test score = ",clf.score(X_test,y_test))

predicted test score =  0.98

In [42]:
cm = confusion_matrix(y_test,y_pred)

In [43]:
cm

array([[17,  0,  0],
       [ 0, 13,  0],
       [ 0,  1, 19]], dtype=int64)

In [45]:
accuracy = accuracy_score(y_test,y_pred)
accuracy

0.98